body{
    background-color: mistyrose;
    font-family: 'Caveat', cursive;
}
.logoGeneral{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px;
}
.tituloLogo{
    display: flex;
    padding: inherit;
    margin-left: 14px;
    margin-top: 0;
}
.logo{
  width: 12%;
  display: block;
  margin-top: -72px;
  margin-left: 4px;
}
.contenedornav{
  display: flex;
    width: 71%;
    justify-content: flex-end;
}
.navbar { 
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(218, 57, 84);
    color:rgb(218, 57, 84);
    font-size: 22px;
  }
  .subnav {
    float: left;
  }
  .home{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .home:hover {
    background-color: #111;
  }
  .navbar{
  display: flex;
  top:0;
  right:0;
  z-index: 1;
  }
  .stylenav{
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  .imgfondo1{
    width: 40%;
  }
  .imgfondo2{
    width: 59%;
  }
  
.contenedor{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parrafo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 

}
em{
  color: rgb(218, 57, 84);
  font-size: 1em;
}
.contenidoparrafo{
  font-size: 160%;
  text-align: center;
  margin: 40px;

}
.imagencomoes{
  width: 30%;
  height: 36%;
  display: flex;
  flex-direction: column;
}

.subtitulo{
  font-size: 262%;
}
  .imagenes{
    display: flex;
  }
  .mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1100px; 
  position: relative;
  margin: auto;
}
.piedeseccion{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin: 9%;
}
.silueta{
  width: 14%;
  height: 24%;
}
.puntos{
  font-size: 404%;
}
/* Position the "next button" to the right */
.next{
  right: 0;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    color: grey;
    font-weight: bold;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: mistyrose;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.adopcionimgs{
  display: flex;
 }
 .container {
  position: relative;
  width: 50%;
  margin: 30px;
 }
  
 .image {
  display: block;
  width: 100%;
  height: auto;
 }
  
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  rgb(218, 57, 84);
  
 }
  
 .container:hover .overlay {
  opacity: 1;
 }
  
 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 35px;
 }
 
 