body{
    background-color: mistyrose;
}
.logoGeneral{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px;
}
.tituloLogo{
    display: flex;
    padding: inherit;
    margin-left: 4px;
    margin-top: 0;
}
.logo{
  width: 12%;
  display: block;
  margin-top: -50px;
  margin-left: 4px;
}
.contenedornav{
  display: flex;
    width: 71%;
    justify-content: flex-end;
}
ul { 
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(218, 57, 84);
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  .navbar{
  display: flex;
  top:0;
  }
  .imgfondo1{
    width: 40%;
  }
  .imgfondo2{
    width: 59%;
  }
  .imagenes{
    display: flex;
  }
  

