body{
    background-color: mistyrose;
}
.tituloLogo{
    display: inline;
    padding: inherit;
    margin-left: 4px;
}
.logo{
    width: 12%;
    display: block;
    margin-top: -56px;
}
ul { 
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(218, 57, 84);
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  .navbar{
      margin-left: 1074px;
      margin-top: -263px;
  }
  
.cuidado{
  margin-left: 300px;
  width: 800px;
display: flex;
align-items: center;


}